{#
/**
 * Locate plugin for Craft CMS
 *
 * locate Settings.twig
 *
 * @author    Isaac Gray
 * @copyright Copyright (c) 2016 Isaac Gray
 * @link      http://isaacgray.me
 * @package   Locate
 * @since     0.4.9
 */
#}

<div class="field" id="optionsObject-field">
  <div class="heading">
    <label for="optionsObject">Google autocomplete options</label>
		<p class="instructions">{{ "Modify the default behaviour of the Autocomplete field by passing in a JSON object of options. Setting the options here will override any global options set in the plugin settings. For more detail on how to correctly format the options, please see the" | t }} <a href="{{ craft.plugins.getPlugin('locate').getSettingsUrl }}" target="_blank">plugin settings</a>.</p>
  </div>
	<div class="input">
		<textarea class="text nicetext fullwidth" rows="4" cols="50" id="optionsObject" name="optionsObject" style="min-height: 76px;">{{ settings.optionsObject }}</textarea>
	</div>
</div>
