{#
/**
 * locate plugin for Craft CMS
 *
 * Locate_LocationFieldType HTML
 *
 * @author    Isaac Gray
 * @copyright Copyright (c) 2016 Isaac Gray
 * @link      http://isaacgray.me
 * @package   Locate
 * @since     0.4.9
 */
#}


{% import "_includes/forms" as forms %}

{% set apiKeyNotSet = apiKey | length ? false : true %}

{% if apiKeyNotSet %}
  {% if currentUser.admin %}
    <span class="api-not-set-warn"><span class="api-not-set">Important:</span> Before using the Location field you must set your Google Maps API key in the <a href="{{ craft.plugins.getPlugin('locate').getSettingsUrl }}">plugin settings</a></span>
  {% else %}
    <span class="api-not-set-warn"><span class="api-not-set">Important:</span> Please ask your site administrator to set the Google Maps API key in the Location plugin settings</span>
  {% endif %}

{% endif %}

{{ forms.textField({
    id: id~'-proxy',
    disabled: apiKeyNotSet,
    value: values.location,

    required: false,
}) }}


{{ forms.hidden({
    id: id~'-location',
    name: name,
    value: values.lat~'|'~values.lng~'|'~values.location~'|'~values.placeid,
    required: false,
}) }}
