{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Locate plugin for Craft CMS
 *
 * LocateField Field Settings
 *
 * @author    Isaac Gray
 * @copyright Copyright (c) 2018 Isaac Gray
 * @link      https://www.vaersaagod.no/
 * @package   Locate
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("swixpop\\locate\\assetbundles\\locate\\LocateAsset") %}
<div class="swixpop-locate">
    {{ forms.textareaField({
        label: 'Google autocomplete options' | t('locate'),
        instructions: 'Modify the default behaviour of the Autocomplete field by passing in a JSON object of options. Setting the options here will override any global options set in the plugin settings. For more detail on how to correctly format the options, please see the' | t('locate') ~ ' <a href="' ~ pluginSettingsUrl ~ '" target="_blank">' ~ ('plugin settings' | t('locate')) ~'</a>',
        id: 'optionsObject',
        name: 'optionsObject',
        rows: 4,
        value: field['optionsObject']})
    }}
</div>
